body {
    background-color: lightblue;
}

.title {
    position: relative;
    font-size: 56px;
    color: white;
    transition-duration: 0.4s;
    font-weight: bold;
    width: 100%;
    background-color: #008CBA;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    text-align: center;
    color: #fff;
    text-shadow: #000 0px 0px 10px;
    -webkit-font-smoothing: antialiased;
}

.title:before {
    content: "JSON Downloader";
    height: 60%;
    position: absolute;
    color: lightblue;
    overflow: hidden;
}

.list {
    font-size: 12px;
    font-size: 0.65em;
    float: left;
    padding: 20px;
    column-count: 2;
    column-rule: 1px outset blue;
    margin: 200px;
    font-family: "Times New Roman", Helvetica, Serif;
    background-color: #5F9EA0;
    box-shadow: 0 0 8px 8px lightblue inset;
}

.button-style {
    transition-duration: 0.4s;
    background-color: #555555;
    border: none;
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 36px;
    font-family: Helvetica, Arial, Serif;
}

.button-style:hover {
    background-color: grey;
    /* Green */
    color: white;
}


/*.checkBoxes{
  margin-left: 700px;
  font-size: 28px;
}*/
.checkDiv{
  margin-top: -50px;
margin-left: 600px;
text-align: center;
}
.Status{
  margin: 100px;
}
input[type=checkbox].checkbox {
							position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
						}

						input[type=checkbox].checkbox + label.checkbox-label {
							padding-left:25px;
							height:20px;
							display:inline-block;
							line-height:20px;
							background-repeat:no-repeat;
							background-position: 0 0;
							font-size:20px;
							vertical-align:middle;
							cursor:pointer;

						}

						input[type=checkbox].checkbox:checked + label.checkbox-label {
							background-position: 0 -20px;
						}
						label.checkbox-label {
				background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_a967b1e8ddfb00be4a2edf9abd4371c3.png);
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}
